# Avaliação C3

- Disciplina: Análise de Dados Aplicada a Computação
- Professor: Howard Roatti
- Turma: 5SC1
- Atividade: Análise de Dados e Machine Learning Hackathon

Integrantes:
- Gabriel Cardozo Ansesqui Rangel
- Lucas Carlos Giacomin
- Matheus de Paula Barbosa
- Nathan da Silva Bravin

# Importações

Possuem o objetivo de permitir a construção de estruturas de dados para podermos realizar análises; permite a importação de métodos úteis para classificação e mensurização dos dados; e também importam certos métodos de cálculo relevantes para certas questões.

In [1]:
# Importando biblioteca Pandas para a criação e manipulação de DataFrames.
import pandas as pd

# Importando o método PLT para visualizar graficamente os dados, cálculos e regressões que aplicarmos.
import matplotlib.pylab as plt

# Importando o método PreProcessing da biblioteca SKLearn para aplicar Label Encoding.
from sklearn import preprocessing

# Importando o método LogisticRegression para poder realizar regressões logísticas no DataFrame.
from sklearn.linear_model import LogisticRegression

# Importando o método LinearRegression para poder realizar regressões lineares no DataFrame.
from sklearn.linear_model import LinearRegression

# Importando os métodos MSE para obter a margem de erro de nossas estimativas, o método Confusion Matrix para poder realizar 
# matrizes de confusão, e método AUC para podermos visualizar a curva ROC.
from sklearn.metrics import confusion_matrix, auc, roc_auc_score, roc_curve

# Análise Exploratória de Dados

## Dados de treino

In [7]:
# Importando dataset de dados de treino:
dataTreino = pd.read_csv("./Datasets/ticdata2000.txt", sep="	", header=None)
dataTreino.head()

,0,1,2,3,4,5,6,7,8,9,...,76,77,78,79,80,81,82,83,84,85
0,33,1,3,2,8,0,5,1,3,7,...,0,0,0,1,0,0,0,0,0,0
1,37,1,2,2,8,1,4,1,4,6,...,0,0,0,1,0,0,0,0,0,0
2,37,1,2,2,8,0,4,2,4,3,...,0,0,0,1,0,0,0,0,0,0
3,9,1,3,3,3,2,3,2,4,5,...,0,0,0,1,0,0,0,0,0,0
4,40,1,4,2,10,1,4,1,4,7,...,0,0,0,1,0,0,0,0,0,0

## Dados de validação

In [6]:
# Importando dataset de dados de validação:
dataValidacao = pd.read_csv("./Datasets/ticeval2000.txt", sep="	", header=None)
dataValidacao.head()

,0,1,2,3,4,5,6,7,8,9,...,75,76,77,78,79,80,81,82,83,84
0,33,1,4,2,8,0,6,0,3,5,...,0,0,0,0,1,0,0,0,0,0
1,6,1,3,2,2,0,5,0,4,5,...,2,0,0,0,1,0,0,0,0,0
2,39,1,3,3,9,1,4,2,3,5,...,1,0,0,0,1,0,0,0,0,0
3,9,1,2,3,3,2,3,2,4,5,...,0,0,0,0,1,0,0,0,0,0
4,31,1,2,4,7,0,2,0,7,9,...,0,0,0,0,1,0,0,0,0,0

## Rótulos de classificação

In [4]:
# Importando dataset de rótulos de classificação:
dataClassificao = pd.read_csv("./Datasets/tictgts2000.txt", header=None)
dataClassificao.head()

   0
0  0
1  1
2  0
3  0
4  0

# Validações Cruzadas

## Hold-out

## Leave-one-out

## K-Fold

# Referências

- [Stack Overflow Loading TXT with Pandas](https://stackoverflow.com/questions/21546739/load-data-from-txt-with-pandas)
- [Vitalflux Hold-out Method for Training Machine Learning Models](https://vitalflux.com/hold-out-method-for-training-machine-learning-model/)
- [Statology K-Fold Cross Validation](https://www.statology.org/k-fold-cross-validation-in-python/)
- [Statology Leave-one-out (LOO) Cross Validation](https://www.statology.org/leave-one-out-cross-validation-in-python/)